In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

from subprocess import check_output
print(check_output(["ls", "../data"]).decode("utf8"))

# Any results you write to the current directory are saved as output.

README.md
properties_2016.csv
sample_submission.csv
train_2016_v2.csv
zillow_data_dictionary.xlsx

In [5]:
df = pd.read_csv('../data/properties_2016.csv', nrows=1000);

In [8]:
df.head(50)

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,10754147,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9.0,2015,9.0,NaN,NaN,NaN,NaN
1,10759547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,27516.0,2015,27516.0,NaN,NaN,NaN,NaN
2,10843547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,650756.0,1413387.0,2015,762631.0,20800.37,NaN,NaN,NaN
3,10859147,NaN,NaN,NaN,0.0,0.0,3.0,7.0,NaN,NaN,...,1.0,NaN,571346.0,1156834.0,2015,585488.0,14557.57,NaN,NaN,NaN
4,10879947,NaN,NaN,NaN,0.0,0.0,4.0,NaN,NaN,NaN,...,NaN,NaN,193796.0,433491.0,2015,239695.0,5725.17,NaN,NaN,NaN
5,10898347,NaN,NaN,NaN,0.0,0.0,4.0,7.0,NaN,NaN,...,1.0,NaN,176383.0,283315.0,2015,106932.0,3661.28,NaN,NaN,NaN
6,10933547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,397945.0,554573.0,2015,156628.0,6773.34,NaN,NaN,NaN
7,10940747,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,1.0,NaN,101998.0,688486.0,2015,586488.0,7857.84,NaN,NaN,NaN
8,10954547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9.0,2015,9.0,NaN,NaN,NaN,NaN
9,10976347,NaN,NaN,NaN,0.0,0.0,3.0,7.0,NaN,NaN,...,1.0,NaN,218440.0,261201.0,2015,42761.0,4054.76,NaN,NaN,NaN
10,11073947,NaN,NaN,NaN,0.0,0.0,4.0,NaN,NaN,NaN,...,1.0,NaN,245834.0,430208.0,2015,184374.0,6014.18,NaN,NaN,NaN
11,11114347,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9.0,2015,9.0,NaN,NaN,NaN,NaN
12,11116947,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,171200.0,2015,171200.0,4690.68,NaN,NaN,NaN
13,11142747,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4265.0,2015,4265.0,NaN,NaN,NaN,NaN
14,11193347,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,10.0,2015,10.0,NaN,NaN,NaN,NaN
15,11215747,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,10.0,2015,10.0,NaN,NaN,NaN,NaN
16,11229347,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2077.0,2015,2077.0,174.21,NaN,NaN,NaN
17,11287347,NaN,NaN,NaN,0.0,0.0,4.0,7.0,NaN,NaN,...,NaN,NaN,32654.0,62424.0,2015,29770.0,2330.24,NaN,NaN,NaN
18,11288547,NaN,NaN,NaN,0.0,0.0,NaN,7.0,NaN,NaN,...,NaN,NaN,56736.0,102385.0,2015,45649.0,4162.56,NaN,NaN,NaN
19,11324547,1.0,NaN,NaN,2.0,4.0,NaN,4.0,2.0,NaN,...,NaN,NaN,218982.0,291973.0,2015,72991.0,6941.39,NaN,NaN,NaN
20,11391347,NaN,NaN,NaN,0.0,0.0,3.0,7.0,NaN,NaN,...,NaN,NaN,197599.0,503752.0,2015,306153.0,6840.34,NaN,NaN,NaN
21,11395747,NaN,NaN,NaN,0.0,0.0,4.0,7.0,NaN,NaN,...,1.0,NaN,35876.0,49928.0,2015,14052.0,1522.08,NaN,NaN,NaN
22,11404347,NaN,NaN,NaN,0.0,0.0,4.0,7.0,NaN,NaN,...,1.0,NaN,69879.0,231720.0,2015,161841.0,3703.54,Y,13.0,NaN
23,11405747,NaN,NaN,NaN,0.0,0.0,4.0,7.0,NaN,NaN,...,1.0,NaN,41917.0,181667.0,2015,139750.0,2992.02,NaN,NaN,NaN
24,11417147,NaN,NaN,NaN,0.0,0.0,4.0,7.0,NaN,NaN,...,1.0,NaN,44959.0,133717.0,2015,88758.0,2797.70,NaN,NaN,NaN
25,11457547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,124.0,2015,124.0,NaN,NaN,NaN,NaN
26,11488147,NaN,NaN,NaN,4.0,5.0,NaN,4.0,4.0,NaN,...,NaN,NaN,267623.0,818739.0,2015,551116.0,10455.41,NaN,NaN,NaN
27,11520747,NaN,NaN,NaN,0.0,0.0,4.0,7.0,NaN,NaN,...,1.0,NaN,204800.0,786584.0,2015,581784.0,11304.81,NaN,NaN,NaN
28,11524947,1.0,NaN,NaN,2.0,2.0,NaN,4.0,2.0,NaN,...,NaN,NaN,229399.0,352198.0,2015,122799.0,6165.36,NaN,NaN,NaN
29,11544747,1.0,NaN,NaN,4.0,3.0,NaN,10.0,4.0,NaN,...,NaN,NaN,334432.0,835036.0,2015,500604.0,10244.94,NaN,NaN,NaN
30,11579347,NaN,NaN,NaN,0.0,0.0,4.0,4.0,NaN,NaN,...,1.0,NaN,309226.0,528621.0,2015,219395.0,6905.70,NaN,NaN,NaN
31,11585547,NaN,NaN,NaN,2.0,3.0,NaN,4.0,2.0,NaN,...,NaN,NaN,207035.0,637046.0,2015,430011.0,7924.68,NaN,NaN,NaN
32,11588747,NaN,NaN,NaN,3.0,3.0,NaN,7.0,3.0,NaN,...,NaN,NaN,445000.0,1410000.0,2015,965000.0,17034.34,NaN,NaN,NaN
33,11592147,NaN,NaN,NaN,0.0,0.0,3.0,NaN,NaN,NaN,...,NaN,NaN,13115017.0,25410345.0,2015,12295328.0,333480.70,NaN,NaN,NaN
34,11609547,NaN,NaN,NaN,0.0,0.0,3.0,7.0,NaN,NaN,...,NaN,NaN,33019.0,236380.0,2015,203361.0,3436.86,NaN,NaN,NaN
35,11617547,1.0,NaN,NaN,3.0,2.0,NaN,NaN,3.0,NaN,...,NaN,NaN,746203.0,2878212.0,2015,2132009.0,34982.17,NaN,NaN,NaN
36,11660547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,229921.0,6629148.0,2015,6399227.0,80348.13,NaN,NaN,NaN
37,11681747,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,15299.0,2015,15299.0,248.89,NaN,NaN,NaN
38,11698747,NaN,NaN,NaN,0.0,0.0,4.0,7.0,NaN,NaN,...,NaN,NaN,581388.0,1295374.0,2015,713986.0,19040.15,NaN,NaN,NaN
39,11704347,NaN,NaN,NaN,0.0,0.0,5.0,7.0,NaN,NaN,...,1.0,NaN,30775.0,99589.0,2015,68814.0,2282.52,NaN,NaN,NaN
40,11732547,NaN,NaN,NaN,0.0,0.0,3.0,7.0,NaN,NaN,...,NaN,NaN,51702.0,258557.0,2015,206855.0,3695.84,NaN,NaN,NaN
41,11742147,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,4633.0,286462.0,2015,281829.0,3639.90,NaN,NaN,NaN
42,11751547,NaN,NaN,NaN,0.0,0.0,4.0,NaN,NaN,NaN,...,1.0,NaN,51230.0,1178301.0,2015,1127071.0,14592.40,NaN,NaN,NaN
43,11759947,NaN,NaN,NaN,2.0,4.0,NaN,7.0,2.0,NaN,...,NaN,NaN,122915.0,221244.0,2015,98329.0,2885.93,NaN,NaN,NaN
44,11780147,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,274602.0,302423.0,2015,27821.0,4920.64,NaN,NaN,NaN
45,11780347,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,790507.0,870573.0,2015,80066.0,11581.37,NaN,NaN,NaN
46,11781947,NaN,NaN,NaN,0.0,0.0,3.0,7.0,NaN,NaN,...,NaN,NaN,182626.0,497257.0,2015,314631.0,8156.96,Y,15.0,NaN
47,11808747,NaN,NaN,NaN,0.0,0.0,4.0,7.0,NaN,NaN,...,1.0,NaN,130000.0,380000.0,2015,250000.0,4937.95,NaN,NaN,NaN
48,11817747,NaN,NaN,NaN,0.0,0.0,4.0,7.0,NaN,NaN,...,1.0,NaN,226398.0,327880.0,2015,101482.0,2236.95,NaN,NaN,NaN
49,11818747,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,11009.0,2015,11009.0,NaN,NaN,NaN,NaN

In [7]:
df.describe()

C:\Anaconda3\lib\site-packages\numpy\lib\function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,yearbuilt,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyyear,censustractandblock
count,1.000000e+03,13.000000,0.0,6.000000,1000.000000,1000.000000,61.000000,60.000000,711.000000,57.0,...,928.000000,722.000000,0.0,8.370000e+02,8.680000e+02,1000.000000,8.640000e+02,969.000000,10.000000,7.050000e+02
mean,1.666071e+07,4.692308,NaN,490.666667,1.562000,2.338000,3.770492,6.600000,2.196906,66.0,...,1972.112069,1.357341,NaN,2.119834e+05,4.474313e+05,2014.993000,2.441438e+05,4797.407895,13.100000,6.111005e+13
std,8.540352e+06,5.764614,NaN,228.873473,1.143663,1.666894,0.496435,1.291432,0.666009,0.0,...,18.783050,0.499384,NaN,5.376482e+05,1.381596e+06,0.083414,9.503478e+05,16796.620988,2.078995,2.607406e+07
min,1.075415e+07,1.000000,NaN,216.000000,0.000000,0.000000,2.000000,4.000000,1.000000,66.0,...,1890.000000,1.000000,NaN,5.870000e+02,9.000000e+00,2014.000000,9.000000e+00,19.070000,9.000000,6.111000e+13
25%,1.430365e+07,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2015.000000,NaN,NaN,NaN,NaN
50%,1.711545e+07,NaN,NaN,NaN,2.000000,3.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2015.000000,NaN,NaN,NaN,NaN
75%,1.718311e+07,NaN,NaN,NaN,2.500000,4.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2015.000000,NaN,NaN,NaN,NaN
max,1.631873e+08,13.000000,NaN,782.000000,5.000000,6.000000,5.000000,10.000000,5.000000,66.0,...,2014.000000,4.000000,NaN,1.311502e+07,2.786427e+07,2015.000000,2.210127e+07,362406.910000,15.000000,6.111009e+13